    <style>
    a {
        color: black;
    }
    
    body {
        font-family: 'Source Sans Pro', sans-serif, "微軟正黑體";
        text-align: center;
        color: #5B5B5B;
        background-repeat: repeat;
        background-image: url(img/background3.jpg);
    }
    
    h1 {
        margin: 0px;
        padding: 0px;
        font-size: 80pt;
    }
    
    h2 {
        margin: 0px;
        padding: 0px;
        font-size: 40pt;
    }
    
    .navbar {}
    
    .navbar ul {
        margin: 0;
        list-style: none;
        font-size: 18pt;
        text-align: center;
        line-height: normal;
        text-align: center;
    }
    
    .navbar li {
        border-color: white;
        border-style: solid;
        border-width: 0px 1px;
    }
    
    .navbar li a {
        display: block;
        padding: 20px 25px 20px 25px;
        text-decoration: none;
        text-transform: uppercase;
        letter-spacing: 3px;
        font-weight: 300;
    }
    
    a:hover {
        text-decoration: none;
    }
    
    .carousel-inner img {
        -webkit-filter: grayscale(90%);
        filter: grayscale(90%);
        /* make all photos black and white */
        width: 100%;
        /* Set width to 100% */
        margin: auto;
    }
    
    #footer {
        display: block;
        width: 100%;
        background: #333;
        color: #E0E0E0;
        position: relative;
        line-height: 1px;
        color: #0;
        padding: 1px 0px 1px 0px;
        text-align: center;
    }
    
    #top {
        background: url(img/background2.jpg);
        background-repeat: repeat;
    }
    
    .navbar-inverse {
        background: linear-gradient(
                    0deg,
                    gray 0%,
                    black 100%                    
                    );
    }
    
    .carousel-caption h3 {
        color: #fff !important;
    }
    
    @media (max-width: 600px) {
        .carousel-caption {
            display: none;
            /* <li><a href="#"><span class="glyphicon glyphicon-user"></span> 註冊</a></li>
                    <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> 登入</a></li>
                    <img src="img/logo.png" width="300"> Hide the carousel text when the screen is less than 600 pixels wide */
        }
    }

    #bor{
        border-style: solid;
        border-width: 1px;
        height: 220px;
    }

    #bor a {
        color: black;
    }

    #bor2{
        border-style: solid;
        border-width: 1px;
        height: 320px;
    }

    #bor2 a {
        color: black;
    }
    </style>